{% load user_extras %}
<div class="contentBody col-xs-12 col-md-12">
<div class="wrapper">
    {% for anime_obj in series_list %}
        <div class="contentRow col-xs-12 col-md-12">
            <div class="animeFrame col-md-3 col-xs-3">
                <div class="gridObj">{% show_anime anime_obj %}</div>
            </div>
            <div class="figureFrame col-xs-9 col-md-9">
                {% for figure in series_id_to_figures|get_item:anime_obj.id|slice:"0:12" %}
                    <div class="gridObj col-xs-6 col-md-4">{% show_figure figure %}</div>
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="clearfix hidden-xs-down"></div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="clearfix hidden-sm-up"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
{% if nofigs_list %}
    <div class="wrapper">
        <div class="contentRow col-xs-12 col-md-12 nobg">No figures were found for the following anime</div>
        <div class="contentRow col-xs-12 col-md-12 noFiguresFrame">
            {% for anime_obj in nofigs_list %}
                <div class="gridObj col-lg-1 col-md-2 col-xs-3">{% show_anime anime_obj show_text=False %}</div>
                {% if forloop.counter|divisibleby:12 %}
                    <div class="clearfix hidden-md-down"></div>
                {% endif %}
                {% if forloop.counter|divisibleby:6 %}
                    <div class="clearfix hidden-sm-down hidden-lg-up"></div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="clearfix hidden-md-up"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
</div>
