<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'anime/anime.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
</head>
<body>
<div class="mainContent col-md-10 col-md-offset-1 col-xs-12">
    <div class="contentHeader">
        <h1>{{ mal_name }}'s currently watching anime</h1>
    </div>
    {% show_content_rows watching watching_nofigs %}
</div>
<div class="mainContent col-md-10 col-md-offset-1 col-xs-12">
    <div class="contentHeader">
        <h1>{{ mal_name }}'s recently completed anime</h1>
    </div>
    {% show_content_rows recently_completed completed_nofigs %}
</div>
</body>
</html>
