.contentBody {
    border: 2pt solid #A57B74;
    padding: 0;
}

.contentHeader {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.navHeader,
.animeFrame {
    text-align: center;
}

.animeFrame {
    background-color: #D8BBB8;
    margin: 25pt 0 25pt 0;
    padding: 5pt;
    border: 3pt solid #A57B74;
    border-radius: 5pt;
}

.figureFrame {
    padding: 10pt 0 10pt 0;
}

.noFiguresFrame,
.recentFigures .contentRow {
    padding: 10pt 0 10pt 0;
}

.contentRow:nth-child(odd) {
    background-color: #EEE5E4;
}

.contentRow:nth-child(even) {
    background-color: #D8BBB8;
}

.contentRow:nth-child(even) .animeFrame {
    background-color: #EEE5E4;
}


/* grid text style */

.figureFrame .gridText,
.recentFigures .gridText,
.col-md-10ths .gridText {
    font-size: 7pt;
}

.noFiguresFrame .gridText {
    overflow: hidden;
}

.animeText-md {
    font-size: 12pt;
}

.animeText-xs {
    font-size: 9pt;
    overflow: hidden;
}

/* grid image style */

.gridImage img {
    max-width:100%;
    max-height:200pt;
}

.noFiguresFrame .gridImage,
.figureFrame .gridImage {
    border: 2pt solid #A57B74;
    border-radius: 3pt;
}

.recentFigures .gridImage {
    border: 3pt solid #A57B74;
    border-radius: 5pt;
}



/* Tools for 10ths and 5ths columns */

.col-xs-10ths,
.col-sm-10ths,
.col-md-10ths,
.col-lg-10ths {
    position: relative;
    min-height: 1px;
    padding-right: 10pt;
    padding-left: 10pt;
}

.col-xs-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10pt;
    padding-left: 10pt;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

.col-xs-10ths {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-10ths {
        width: 10%;
        float: left;
    }
}

/* Force white bg for text frames */

.nobg {
    border-bottom: 2pt solid #A57B74;
    border-top: 2pt solid #A57B74;
    background-color: white !important;
    padding-bottom: 2pt;
}
