.gridImage img {
    max-width:100%;
    max-height:200pt;
}

.figureFrame .gridText {
    font-size: 9pt;
}

.contentHeader {
    padding-top: 10pt;
    padding-bottom: 10pt;
}

.col-md-10ths .gridText {
    font-size: 7pt;
}


.col-xs-10ths,
.col-sm-10ths,
.col-md-10ths,
.col-lg-10ths {
    position: relative;
    min-height: 1px;
    padding-right: 10pt;
    padding-left: 10pt;
}

.col-xs-10ths {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-10ths {
        width: 10%;
        float: left;
    }
}
